.root {
  font-family: '\'Helvetica\', sans-serif';
  padding: 20px;
  width: 600px;
}

.editor {
  //background-color: red;
  border: 1px solid #ccc;
  cursor: 'text';
  min-height: 100px;
  padding: 10px;
}

.styleButton {
  //color: red;
  cursor: 'pointer';
  marginRight: 16px;
  padding: 2px 10px;
  display: inline;
}