.writerMain {
  display: -webkit-flex; /* for webkit browser */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  //display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  //justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100rem;

  // for debug
  // border: 2px solid red;
}


.sentenceTableMain {

  flex-shrink: 0;
  flex-grow: 0;
  // for debug
  border: 2px solid blue;

}


.editorAreaMain {
  display: -webkit-flex; /* for webkit browser */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
  // for debug
  border: 2px solid black;

}

.radioBtnArea {
    display: -webkit-flex; /* for webkit browser */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.mainEditor {
    flex-grow: 0;
    height: 10rem;
    border: 2px solid red;
}

.tempEditorBar {
    display: -webkit-flex; /* for webkit browser */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;

    flex-direction: row;
    flex-grow: 1;
    border: 2px solid yellow;
}

.tempEditor {
    flex-grow: 1;
    height: 2rem;
}

.submitBtn {
    flex-grow: 0;
}


.wordsSelectionMain {

  flex-shrink: 0;
  flex-grow: 0;
  // for debug
  border: 2px solid yellow;
}

.exportBtn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* .sentenceWriter { */
/*   display: -webkit-flex; /\* for webkit browser *\/ */
/*   display: -webkit-box; */
/*   display: -moz-box; */
/*   display: -ms-flexbox; */


/* } */

/* .sentenceWriterPaper { */
/*   //width: 10rem; */
/*   margin: 20px; */

/* } */

/* .sentenceTable { */
/*   flex-grow: 0; */
/*   // for debug */
/*   // border: 2px solid red; */
/* } */


/* .editorAreaMain { */
/*   display: -webkit-flex; /\* for webkit browser *\/ */
/*   display: -webkit-box; */
/*   display: -moz-box; */
/*   display: -ms-flexbox; */
/*   display: flex; */
/*   flex-wrap: nowrap; */
/*   flex: 1; */
/*   flex-direction: column; */

/*   border: 1px solid red; */

/* } */

/* .mainEditor { */
/*   //width: 50%; */
/*   flex: 0; */
/*   width: 20rem; */
/*   height: 10rem; */
/*   // flex-shrink: 1; */
/*   // for debug */
/*   border: 2px solid orange; */
/* } */

/* .tempEditorBarPaper { */
/*   flex: 0; */
/*   margin: 10px; */
/* } */

/* .tempEditorBar { */
/*   display: flex; */
/* } */

/* .tempEditorArea { */
/*   flex: 1; */
/*   cursor: 'text'; */
/*   border: 1px solid red; */
/*   //width: 20rem; */
/* } */

/* .submitBtn { */
/*   flex: 0; */

/* } */



/* .wordsSelectionTable { */
/*   width: 15%; */
/*   flex-grow: 0; */
/*   // flex-shrink: 1; */
/*   // for debug */
/*   //border: 2px solid blue; */
/* } */
