.writerMain {
  display: -webkit-flex; /* for webkit browser */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  //display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  //justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  // for debug
  // border: 2px solid red;
}


.sentenceTableMain {

  flex-shrink: 0;
  flex-grow: 0;
  // for debug
  border: 2px solid blue;

}


.editorAreaMain {
  display: -webkit-flex; /* for webkit browser */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-grow: 1;
  // for debug
  border: 2px solid black;
  width: 60%;
  height: 630px;
}


.wordsSelectionMain {
  width: 300px;
  height: 630px;
  flex-grow: 0;
  // for debug
  border: 2px solid yellow;
}

.radioBtn {
  float: left;
}

.tempEditor {
    flex-grow: 1;
    height: 2rem;
}

.submitBtn {
  float: left;
  margin-left:10px; 
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.getWordBtn {
  float: left;
  margin-left:10px; 
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.export {
  float: left;
  margin-left:10px; 
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* .sentenceWriter { */
/*   display: -webkit-flex; /\* for webkit browser *\/ */
/*   display: -webkit-box; */
/*   display: -moz-box; */
/*   display: -ms-flexbox; */


/* } */

/* .sentenceWriterPaper { */
/*   //width: 10rem; */
/*   margin: 20px; */

/* } */

/* .sentenceTable { */
/*   flex-grow: 0; */
/*   // for debug */
/*   // border: 2px solid red; */
/* } */


/* .editorAreaMain { */
/*   display: -webkit-flex; /\* for webkit browser *\/ */
/*   display: -webkit-box; */
/*   display: -moz-box; */
/*   display: -ms-flexbox; */
/*   display: flex; */
/*   flex-wrap: nowrap; */
/*   flex: 1; */
/*   flex-direction: column; */

/*   border: 1px solid red; */

/* } */

 .mainEditor { 
  width: 100%; 
  flex: 0;
  height: 175px;
   // flex-shrink: 1; 
   // for debug */
   border: 2px solid orange; 
 } 

 .tempEditorBarPaper {
   width: 100%;
   height: 75px;
   flex: 0;
   border: 2px solid red;
 } 

.selectionTable {
  width: 100%; 
  flex: 0;
  height: 175px;
   // flex-shrink: 1; 
   // for debug */
  border: 2px solid orange; 
}
/* .tempEditorBar { */
/*   display: flex; */
/* } */

/* .tempEditorArea { */
/*   flex: 1; */
/*   cursor: 'text'; */
/*   border: 1px solid red; */
/*   //width: 20rem; */
/* } */

/* .submitBtn { */
/*   flex: 0; */

/* } */



/* .wordsSelectionTable { */
/*   width: 15%; */
/*   flex-grow: 0; */
/*   // flex-shrink: 1; */
/*   // for debug */
/*   //border: 2px solid blue; */
/* } */
