.sentenceWriter {
  display: -webkit-flex; /* for webkit browser */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  //justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 200px;

  // for debug
  //border: 2px solid red;
}

.sentenceTable {
  width: 15%;
  flex-grow: 1;
  // for debug
  //border: 2px solid blue;
}

.sentenceEditor {
  width: 50%;
  flex-grow: 2;
  flex-shrink: 1;
  // for debug
  border: 2px solid orange;
}


.wordsSelectionTable {
  width: 15%;
  flex-grow: 1;
  flex-shrink: 1;
  // for debug
  border: 2px solid black;
}


/* .styleButton { */
/*   flex-grow: 1; */
/*   flex-shrink: 0; */
/*   margin-top: 10px; */
/* } */

/* .funcButton { */
/*   display: inline-block; */
/* } */

/* .submit { */
/*   flex-grow: 3; */
/* } */