<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Use minimum-scale=1 to enable GPU rasterization -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1" >
    <!--script src="https://npmcdn.com/jquery@3.1.0/dist/jquery.min.js"></script-->
    <link rel="stylesheet" href={{ url_for('static', filename="css/react-grid-layout-style.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/react-resizable-style.css") }}>
    <link rel="stylesheet" href={{ url_for('static', filename="css/react-select.css") }}>
    <script src={{ url_for('static', filename="js/react-select.js") }}></script>
    <style type="text/css">
     .hidden { display:none; }
    </style>
  </head>

<body>
  <div id="demo1" key="a"></div>
  <div id="demo2" key="b"></div>
  <div id="demo3" key="c"></div>

  <!-- Attach React components -->
  <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
</html>
